*{
margin:0px;
padding:0px;

}
.title{
    font-size:200px;
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:row;
    background-color:white;
    gap:10px;
    padding:15px;

}
.block{
    text-align: center;
    padding:30px;
    font-size:20px;
    background-color: tan;
    width:20%;
    border: 3px solid black;
}
.menu{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    gap:10px;
    padding:50px

}

.logo{
    width:200px;
    height:200px;s
}
.container2{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:row;
    background-color:blue;
    gap:10px;
    padding:10px;
}
.item{
    text-align: center;
    padding:30px;
    font-size:20px;
    background-color: tan;
    width:80%;
    border: 3px solid black;
}
.footer{
    background-color:black;
    color:white;
    text-align:center;
    height:150px;
    padding-top:20px;
    width:100;
}
.block img{
    width:100%;
}
button:hover{
    background-color: white;
    color:black;
    padding:5px;
}
.button{
    margin:15px;
    height:50px;
    width:40%;
    font-size:20px;
    font-weight:700;
}